*
{
    margin : 0 ;
    padding : 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Generals */

body{
    background-color: rgb(255, 165, 0);
    position: relative;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:#000;
}

h2{
    color:#FD811A;
}

/* navbar */

.side-container{
    height: 100vh;
    max-width: 20%;
    display: flex;
    flex-direction: column;   
    padding: 30px;
    position: fixed;
    z-index: 5;
}

.logo {
    background-color: rgb(239, 202, 123, .80);
    border-radius: 25px;
}

.logo img{
    max-width: 100%;
}

.nav-links{
    display: flex;
    margin-top: 70px;
    justify-content: center;
    padding: 40px 0 40px 0;
    background-color: rgb(239, 202, 123, .80);
    border-radius: 10px;
}

.navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.nav-btn{
    display: block;
    text-align: center;
    height: 40px;    
    line-height: 40px;
    width: 200px;
}


.nav-btn a li {
    font-size: 20px;
    color:#017B89 ;
    font-weight: 600;
}

.nav-btn::after{
    content: "";
    display: block;
    border-bottom: 2px solid #FD811A;
    padding-top: 25px
}

.nav-title{
    display: block;
    text-align: center;
    height: 40px;    
    line-height: 40px;
    width: 200px;
}

.nav-title::after{
    content: "";
    display: block;
    border-bottom: 2px solid #FD811A;
    padding-bottom: 25px;    
}

.nav-btn:hover{
    background-color:rgb(255, 255, 255, .80) ;
    border-radius: 5px;
}

/* nav-bar end */

/* Home section */


.home-container{
    width: 70%;
    margin: 120px auto;
    border: 1px solid black;
    display: inline-block;
    position: absolute;
    left:25%;
}

.section1{
    display: flex;
        
}


